.form-block {
    padding: 13em;
    position: relative;
    text-align: center;
}
.form-group{
    padding: 16px;
}
input#email {
    position: relative;
    padding: 1%;
    width: 100%;
    font-size: 2em;
    border-radius: 3em;
    margin-bottom: 5%;
    border-color: lightgreen;
    text-align: -webkit-center;
}

input#password {
    position: relative;
    padding: 1%;
    width: 100%;
    font-size: 2em;
    border-radius: 3em;
    margin-bottom: 5%;
    border-color: lightgreen;
    border-style: double;
    text-align: -webkit-center;
}

label {
    font-size: x-large;
    margin: 1%;
    font-family: 'Noto Sans SC', sans-serif;
}

.imput-form-block {
    background: rgb(12,131,47);
    background: linear-gradient(90deg, rgba(12,131,47,1) 17%, rgba(45,161,41,1) 50%, rgba(11,110,40,1) 76%);
    height: 35em;;
    padding: 6%;
    text-align: -webkit-center;
    margin: 0 auto;
    width: 49em;
    justify-content: center;
}

button.btn-login {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    font-size: 145%;
    cursor: pointer;
    height: 2em;
    width: 100%;
}

.text-login {
    font-size: 2em;
    margin: 3%;
    background: green;
    border-radius: 1em;
    border-style: double;
    width: 9em;
    color: white;
}