.input-form-block {
    width: 49em;
    background: rgb(12,131,47);
    background: linear-gradient(90deg, rgba(12,131,47,1) 17%, rgba(45,161,41,1) 50%, rgba(11,110,40,1) 76%);
    height: 50em;;
    padding: 6%;
    margin: 0 auto;
    text-align: -webkit-center;
    justify-content: center;
}

input#first_name {
    position: relative;
    padding: 1%;
    width: 100%;
    font-size: 2em;
    border-radius: 3em;
    margin-bottom: 5%;
    border-color: lightgreen;
    text-align: -webkit-center;
}

input#second_name {
    position: relative;
    padding: 1%;
    width: 100%;
    font-size: 2em;
    border-radius: 3em;
    margin-bottom: 5%;
    border-color: lightgreen;
    text-align: -webkit-center;
}