.user-data {
    background: seagreen;
    width: 21em;
    height: 14em;
    padding: 2em;
    margin: 0 auto;
    font-size: xx-large;
    margin-top: 4em;
    font-family: 'Fjalla One', sans-serif;
}