.user-data {
    background:darkseagreen;
    padding: 2em;
    margin: 0 auto;
    width: 22em;
    height: 15em;
    font-size: xx-large;
    margin-bottom: 2em;
    margin-top: 6em;
    font-family: 'Fjalla One', sans-serif;
}